{{- range $componentName, $component := .Values.components -}}
{{ if and (or (eq $component.type "http") (eq $component.type "ingress")) $component.ingress -}}
{{- if and $component.ingress.traefikMiddlewareRefs (hasKey ($component.ingress.annotations | default dict) "traefik.ingress.kubernetes.io/router.middlewares") }}
{{- fail (printf "Component '%s' cannot use both 'traefikMiddlewareRefs' and manual 'traefik.ingress.kubernetes.io/router.middlewares' annotation. Use only one." $componentName) }}
{{- end }}
{{- $kubeLabels := (merge (dict "name" $.Release.Name "instance" (printf "%s-%d" (include "component.name" (dict "name" $componentName "Release" $.Release)) $.Release.Revision) "component" $componentName) $.Values.global.metadata) -}}
{{- $middlewareRefs := "" -}}
{{- if $component.ingress.traefikMiddlewareRefs -}}
{{- $middlewareRefs = include "traefik.middlewareRefs" (dict "refs" $component.ingress.traefikMiddlewareRefs "componentName" $componentName "Release" $.Release) -}}
{{- end }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "component.name" (dict "name" $componentName "Release" $.Release) }}
  labels:
    {{ include "cookielab.kubernetes.labels" $kubeLabels | indent 4 | trim }}
    {{ include "cookielab.kubernetes.labels.selector" $kubeLabels | indent 4 | trim }}
  {{- if or $component.ingress.annotations $middlewareRefs }}
  annotations:
    {{- if $middlewareRefs }}
    traefik.ingress.kubernetes.io/router.middlewares: {{ $middlewareRefs | quote }}
    {{- end }}
    {{- range $key, $value := $component.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  {{- end }}
spec:
  ingressClassName: {{ $component.ingress.className | default "alb" }}
  rules:
  {{- range $component.ingress.hosts }}
  - host: {{ .host | quote }}
    http:
      paths:
      {{- range .paths }}
      - path: {{ .path }}
        pathType: {{ .pathType | default "Prefix" }}
        backend:
          service:
            {{- if .externalService }}
            name: {{ .externalService }}
            {{- else }}
            name: {{ include "component.name" (dict "name" $componentName "Release" $.Release) }}
            {{- end }}
            port:
              number: {{ .port | default .servicePort | default 80 }}
      {{- end }}
  {{- end }}
  {{- with $component.ingress.tls }}
  tls:
    {{- range . }}
    - hosts:
      {{- range .hosts }}
      - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end -}}
