global:
  metadata:
    partOf: demo-app
  container:
    image:
      repository: nginx
      tag: latest

components:
  web:
    type: http
    replicas: 1
    ports:
      - port: 80
        name: http
    persistentVolumeClaim:
      size: 5Gi
      accessModes:
        - ReadWriteMany
      storageClassName: efs-sc
    volumeMounts:
      others:
        - name: data
          mountPath: /usr/share/nginx/html
          readOnly: false

  api:
    type: http
    replicas: 2
    ports:
      - port: 3000
        name: http
    persistentVolumeClaim:
      useExistingClaim: true
      existingClaimName: "shared-efs-pvc"
    volumeMounts:
      others:
        - name: data
          mountPath: /app/data
          readOnly: false

  worker:
    type: consumer
    replicas: 1
    persistentVolumeClaim:
      useExistingClaim: true
      existingClaimName: "shared-efs-pvc"
    volumeMounts:
      others:
        - name: data
          mountPath: /data
          readOnly: false
