global:
  container:
    image:
      repository: cookielab/deployer
      tag: 1.0.0-rc2
  keda:
    awsRegion: eu-west-1

components:
  consumer-foo:
    type: consumer
    command:
      - bin/consume
    envs:
      values:
        SQS_QUEUE: https://sqs.us-east-1.amazonaws.com/123456789012/test-queue
    keda:
      minReplicaCount: 1
      maxReplicaCount: 10
      pollingInterval: 30
      cooldownPeriod: 300

      triggers:
        - type: aws-sqs-queue
          queueURLFromEnv: SQS_QUEUE
          queueLength: 5
          awsRegion: us-east-1
          identityOwner: pod
        - type: kafka
          bootstrapServers: kafka:9092
          topic: test-topic
          consumerGroup: test-consumer-group
          lagThreshold: 10
          activationLagThreshold: 0
        - type: cron
          timezone: Europe/Prague
          start: "0 6 * * *"
          end: "0 18 * * *"
          desiredReplicas: 2
        - type: prometheus
          serverAddress: http://prometheus:9090
          metricName: http_requests_total
          threshold: 100.5
          activationThreshold: 50.25
          ignoreNullValues: true
        - type: prometheus
          serverAddress: https://prometheus.example.com:9090
          query: 'sum(rate(http_requests_total[5m]))'
          threshold: 200.75
          unsafeSsl: true
          customHeaders: "X-Custom-Header:value1,X-Another-Header:value2"
          namespace: "monitoring"
          queryParameters: "timeout=30s"
