global:
  container:
    image:
      repository: cookielab/deployer
      tag: 1.0.0-rc2

components:
  api:
    type: http
    replicas: 2
    ports:
      - port: 3000
    probes:
      readinessProbe:
        httpGet:
          port: 8080
          path: /health-check
        periodSeconds: 30
        timeoutSeconds: 15
      livenessProbe:
        httpGet:
          port: 8080
          path: /health-check
    targetGroup:
      arn: 'arn:fake'
      securityGroupIds:
        - sg-fake
    initContainers:
      wait-for-db:
        image:
          repository: busybox
          tag: "1.36"
        command:
          - sh
          - -c
          - |
            until nc -z postgres-service 5432; do
              echo "Waiting for database..."
              sleep 2
            done
        resources:
          requests:
            cpu: "50m"
            memory: "64M"
          limits:
            cpu: "100m"
            memory: "128M"
