{{- $globalLabels := default (dict) .Values.global.alertLabels -}}
{{- $env := default "default-env" (index $globalLabels "environment") -}}
{{- $project := default "default-project" (index .Values.global.metadata "partOf") -}}

{{- if .Values.alertRules }}
---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ $.Release.Name }}-global-alerts
  labels:
    {{- range $key, $value := $globalLabels }}
    {{ $key }}: {{ $value }}
    {{- end }}
spec:
  groups:
  - name: {{ $.Release.Name }}-global-alerts
    rules:
      {{- range $alertName, $alertTemplate := .Values.alertRules }}
      {{- $mergedLabels := $globalLabels }}
      {{- if $alertTemplate.labels }}
      {{- $mergedLabels = merge $alertTemplate.labels $globalLabels }}
      {{- end }}
      - alert: {{$.Release.Name}}-{{ $alertTemplate.alertName }}
        expr: |
          {{- $template := $alertTemplate.expression }}
          {{- $template | replace "{{ .Environment }}" $env | replace "{{ .Project }}" $project | nindent 12 }}
        for: {{ $alertTemplate.for }}
        annotations:
          description: {{ $alertTemplate.description | quote }}
          summary: {{ $alertTemplate.summary | quote }}
        labels:
          {{- range $key, $value := $mergedLabels }}
          {{ $key }}: {{ $value }}
          {{- end }}
      {{- end }}
{{- end }}
